body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:769px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:769px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:767px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:172px;
  height:767px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:48px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#11B2E9;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:103px;
  height:25px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#11B2E9;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:71px;
  height:135px;
}
#u369_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:77px;
  height:141px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:140px;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
  font-size:14px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:71px;
  height:45px;
  font-size:14px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:71px;
  height:45px;
  font-size:14px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 178, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:78px;
  width:51px;
  height:27px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:65px;
  height:45px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:26px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:174px;
  width:107px;
  height:360px;
  overflow:hidden;
}
#u383_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u383_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:1px;
  width:95px;
  height:91px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:2px;
  width:90px;
  height:95px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
  color:#FFFFFF;
  text-align:right;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:85px;
  height:45px;
  color:#FFFFFF;
  text-align:right;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:25px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:12px;
  height:25px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:701px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:75px;
  width:1300px;
  height:701px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
